/* MainCard.css */
.main-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-card.selected {
    background-color: #cbe1ff;
    z-index: 2;
  }
  