/* RecursiveGroup.css */
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    margin-top: 2rem;
  }
  
  .group-block {
    display: flex;

    width: 100%;
  }
  
  .group-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.7);
    padding: 1rem 1.5rem;
    min-width: 160px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
  }
  
  .group-card.selected {
    background-color: #cbe1ff;
    font-weight: bold;
  }
  
  .child-wrapper {
    margin-top: 0.5rem;
    margin-left: -0.5rem;
  }
  
  .modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 1rem;
    border-radius: 30px 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.75);
    max-width: 600px;
    width: 90%;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 0px;
    right: 1px;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }